@import "tailwindcss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: #047857;
	--foreground: #171717;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.loginForm {
	display: grid;
	place-content: center;
}

input {
	border-color: #171717;
	background-color: white;
	border-radius: 5px;
	width: 500px;
	height: 50px;
}
