@import "tailwindcss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background: linear-gradient(
		rgba(44, 245, 48, 0.855),
		rgba(94, 203, 134, 0.6),
		rgba(201, 240, 138, 0.6)
	);
	--foreground: #171717;
}

@theme {
	--font-sans: var(--font-geist-sans);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.loginForm {
	display: grid;
	place-content: center;
}

input,
button {
	border-color: #171717;
	background-color: white;
	border: solid 3px lightseagreen;
	border-radius: 15px;
	width: 500px;
	height: 50px;
	padding-left: 10px;
}

button {
	border-radius: 30px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h4 {
	text-align: center;
}

h4:hover {
	color: darkgreen;
}
